<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>johnyeticodeco.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yeticode-kanbanboardapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yeticode-kanbanboardapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yeticode-kanbanboardapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yeticode-kanbanboardapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="KanbanBoard" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=KanbanBoard;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KanbanBoardApi.EntityFramework.DataContext, KanbanBoardApi.EntityFramework" MigrationConfiguration="KanbanBoardApi.EntityFramework.Migrations.Configuration, KanbanBoardApi.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://johnyeticodeco.onmicrosoft.com/WebApp-yeticode-kanbanboardapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>e5552f57-ae24-4d93-96f7-5a96f3b668d3</ADClientAPPID>
    <ADClientPassword>kKsJ2Lr5SEKb3ZrEyY94W/+B7LC2VxzV1UN1krf1Bag=</ADClientPassword>
    <ADReplyUrl>https://yeticode-kanbanboardapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>7a31e53e-4678-482b-8307-cdf126f78c4c</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KanbanBoard-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=KanbanBoard;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>