
<header class="navbar navbar-static-top bs-docs-nav">
    <div>
        <ul class="nav nav-pills">
            <li ng-repeat="board in boards" role="presentation" ng-class="currentBoard == board ? 'active' : ''"><a ng-click="loadBoard(board)">{{ board.Name }}</a></li>
            <li>
                <a class="btn btn-default" ng-click="createBoard()"><span class="glyphicon glyphicon-plus"></span> Board</a>
            </li>
            <li>
                <a class="btn btn-default" ng-click="createColumn()"><span class="glyphicon glyphicon-plus"></span> Column</a>
            </li>
            <li ng-show="columns[0]">
                <a class="btn btn-default" ng-click="createTask(columns[0].Slug)"><span class="glyphicon glyphicon-plus"></span> Task</a>
            </li>
        </ul>
    </div>
</header>

<div class="row columns">
    <div ng-repeat="column in columns" class="col-xs-4 column" ng-drop="true" ng-drop-success="onDragComplete($data,$event,column.Slug)">
        <div>
            <h2>
                {{ column.Name }}
                <div class="column-menu pull-right">
                    <a ng-click="editColumn(column)" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <a ng-show="!(tasks | filter: { BoardColumnSlug: column.Slug}:true).length" ng-click="deleteColumn(column)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>
            </h2>
            <div ng-repeat="task in tasks | filter: { BoardColumnSlug: column.Slug}:true">
                <div ng-drag="true" ng-drag-data="task" data-allow-transform="true" class="task">
                    <h3>
                        {{ task.Id }} - {{ task.Name }}
                        <div class="task-menu pull-right">
                            <a ng-click="editTask(task)" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a ng-click="deleteTask(task)" ng-show="column.Slug == columns[columns.length -1].Slug" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>